
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 14% 98%;
    --foreground: 222 11% 12%;
    --card: 0 0% 100%;
    --card-foreground: 222 11% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 11% 15%;
    --primary: 222 11% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 90%;
    --secondary-foreground: 222 11% 27%;
    --muted: 210 10% 92%;
    --muted-foreground: 222 11% 45%;
    --accent: 174 52% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 11% 92%;
    --input: 222 11% 92%;
    --ring: 174 52% 42%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-body antialiased selection:bg-accent/20 selection:text-accent overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Article Content Styles for Embedded Images from CMS */
  .article-content img {
    @apply block w-full h-auto rounded-xl md:rounded-2xl border my-10 shadow-sm mx-auto object-cover;
  }
  
  .article-content p {
    @apply mb-6;
  }

  .article-content h2 {
    @apply text-2xl font-bold text-primary mt-12 mb-6;
  }

  .article-content h3 {
    @apply text-xl font-bold text-primary mt-10 mb-4;
  }

  .article-content a {
    @apply text-accent font-bold hover:underline;
  }

  .article-content ul, .article-content ol {
    @apply mb-6 ml-6;
  }

  .article-content li {
    @apply mb-2;
  }
}

/* Custom Embla Scroll Hide */
.overflow-hidden::-webkit-scrollbar {
  display: none;
}
